body {
  font-family: sans-serif;
}

/* second task */
h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

p {
  font-size: 24px;
}

#leafy {
  color: #1d6e09;
  text-decoration: #1d6e09 underline;
}

.latin {
    font-style: italic;
}

h2 {
 text-transform: uppercase;
}

a {
    text-decoration: none;
    color : orange
}

a:hover{
    color : red ;
    text-decoration : red underline wavy
}

ul{
    list-style-type: square;
}